doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Glivera test project")
        title Glivera Project
        link(rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="images/favicon.svg")
        link(rel="shortcut icon" href="images/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png")
        script(defer src="bundle.js")
    body
        .dashboard
            aside.dashboard__sidebar
                .dashboard__logo
                    svg.dashboard__logo-icon(height="37px" width="37px")
                        use(xlink:href="images/icons/sprite-icons.svg#setting")
                    h1.dashboard__logo-title
                        | Dashboard
                        span.dashboard__logo-title-span v.01
                button.dashboard__nav-action(data-nav-action="toggle")
                    span.dashboard__nav-action-stroke
                    span.dashboard__nav-action-stroke
                    span.dashboard__nav-action-stroke
                nav.dashboard__nav(data-nav="menu")
                    ul.dashboard__menu
                        li.dashboard__menu-item
                            a.dashboard__menu-link(href="#")
                                svg.dashboard__menu-icon(height="24px" width="24px")
                                    use(xlink:href="images/icons/sprite-icons.svg#key-square")
                                | Dashboard
                        li.dashboard__menu-item
                            a.dashboard__menu-link(href="#")
                                svg.dashboard__menu-icon(height="24px" width="24px")
                                    use(xlink:href="images/icons/sprite-icons.svg#square")
                                | Product
                        li.dashboard__menu-item.dashboard__menu-item--active
                            a.dashboard__menu-link(href="#")
                                svg.dashboard__menu-icon(height="24px" width="24px")
                                    use(xlink:href="images/icons/sprite-icons.svg#user-square")
                                | Customers
                        li.dashboard__menu-item
                            a.dashboard__menu-link(href="#")
                                svg.dashboard__menu-icon(height="24px" width="24px")
                                    use(xlink:href="images/icons/sprite-icons.svg#wallet-money")
                                | Income
                        li.dashboard__menu-item
                            a.dashboard__menu-link(href="#")
                                svg.dashboard__menu-icon(height="24px" width="24px")
                                    use(xlink:href="images/icons/sprite-icons.svg#discount-shape")
                                | Promote
                        li.dashboard__menu-item
                            a.dashboard__menu-link(href="#")
                                svg.dashboard__menu-icon(height="24px" width="24px")
                                    use(xlink:href="images/icons/sprite-icons.svg#message-question")
                                | Help
                footer.dashboard__footer
                    .dashboard__profile
                        img.dashboard__profile-image(src="images/profile-user-icon.webp" alt="Evano's avatar")
                        .dashboard__profile-info
                            p.dashboard__profile-name Evano
                            p.dashboard__profile-role Project Manager
            main.dashboard__main
                header.dashboard__header
                    h2.dashboard__title
                        | Hello Evano
                        span.dashboard__title-span 👋🏼
                section.dashboard__content
                    .customers
                        header.customers__header
                            .customers__header-info
                                h3.customers__title All Customers
                                p.customers__subtitle Active Members
                            .customers__search
                                svg.customers__search-icon(height="24px" width="24px")
                                    use(xlink:href="images/icons/sprite-icons.svg#search")
                                input.customers__search-input(type="search" placeholder="Search" aria-label="Search customers")
                        .customers__table-wrapper
                            table.customers__table
                                thead.customers__table-head
                                    tr.customers__table-row
                                        th.customers__table-header Customer Name
                                        th.customers__table-header Company
                                        th.customers__table-header Phone Number
                                        th.customers__table-header Email
                                        th.customers__table-header Country
                                        th.customers__table-header Status
                                tbody.customers__table-body
                                    tr.customers__table-row
                                        td.customers__table-cell Jane Cooper
                                        td.customers__table-cell Microsoft
                                        td.customers__table-cell (225) 555-0118
                                        td.customers__table-cell jane@microsoft.com
                                        td.customers__table-cell United States
                                        td.customers__table-cell
                                            span.customers__status.customers__status--active Active
                                    tr.customers__table-row
                                        td.customers__table-cell Floyd Miles
                                        td.customers__table-cell Yahoo
                                        td.customers__table-cell (205) 555-0100
                                        td.customers__table-cell floyd@yahoo.com
                                        td.customers__table-cell Kiribati
                                        td.customers__table-cell
                                            span.customers__status.customers__status--inactive Inactive
                                    tr.customers__table-row
                                        td.customers__table-cell Ronald Richards
                                        td.customers__table-cell Adobe
                                        td.customers__table-cell (302) 555-0107
                                        td.customers__table-cell ronald@adobe.com
                                        td.customers__table-cell Israel
                                        td.customers__table-cell
                                            span.customers__status.customers__status--inactive Inactive
                                    tr.customers__table-row
                                        td.customers__table-cell Marvin McKinney
                                        td.customers__table-cell Tesla
                                        td.customers__table-cell (252) 555-0126
                                        td.customers__table-cell marvin@tesla.com
                                        td.customers__table-cell Iran
                                        td.customers__table-cell
                                            span.customers__status.customers__status--active Active
                                    tr.customers__table-row
                                        td.customers__table-cell Jerome Bell
                                        td.customers__table-cell Google
                                        td.customers__table-cell (629) 555-0129
                                        td.customers__table-cell jerome@google.com
                                        td.customers__table-cell Réunion
                                        td.customers__table-cell
                                            span.customers__status.customers__status--active Active
                                    tr.customers__table-row
                                        td.customers__table-cell Kathryn Murphy
                                        td.customers__table-cell Microsoft
                                        td.customers__table-cell (406) 555-0120
                                        td.customers__table-cell kathryn@microsoft.com
                                        td.customers__table-cell Curaçao
                                        td.customers__table-cell
                                            span.customers__status.customers__status--active Active
                                    tr.customers__table-row
                                        td.customers__table-cell Jacob Jones
                                        td.customers__table-cell Yahoo
                                        td.customers__table-cell (208) 555-0112
                                        td.customers__table-cell jacob@yahoo.com
                                        td.customers__table-cell Brazil
                                        td.customers__table-cell
                                            span.customers__status.customers__status--active Active
                                    tr.customers__table-row
                                        td.customers__table-cell Kristin Watson
                                        td.customers__table-cell Facebook
                                        td.customers__table-cell (704) 555-0127
                                        td.customers__table-cell kristin@facebook.com
                                        td.customers__table-cell Åland Islands
                                        td.customers__table-cell
                                            span.customers__status.customers__status--inactive Inactive
                        footer.customers__footer
                            p.customers__footer-description Showing data 1 to 8 of 256K entries
                            nav.customers__pagination
                                ul.customers__pagination-list
                                    li.customers__pagination-item
                                        button.customers__pagination-button
                                            svg.customers__pagination-button-icon(height="8px" width="8px")
                                                use(xlink:href="images/icons/sprite-icons.svg#chevron")
                                    li.customers__pagination-item.customers__pagination-item--active
                                        a.customers__pagination-link(href="#") 1
                                    li.customers__pagination-item
                                        a.customers__pagination-link(href="#") 2
                                    li.customers__pagination-item
                                        a.customers__pagination-link(href="#") 3
                                    li.customers__pagination-item
                                        a.customers__pagination-link(href="#") 4
                                    li.customers__pagination-item.customers__pagination-item--default
                                        a.customers__pagination-link(href="#") ...
                                    li.customers__pagination-item
                                        a.customers__pagination-link(href="#") 40
                                    li.customers__pagination-item
                                        button.customers__pagination-button
                                            svg.customers__pagination-button-icon(height="8px" width="8px")
                                                use(xlink:href="images/icons/sprite-icons.svg#chevron")
